

  <div class="section">
	<div class="row">
		
		<div class="col s12 l12">
				<article class="infoHome">
					<h2>¿Qué es tuLocalidapp? (A definir)</h2><br>
					<p>Es una herramienta para los habitantes de la localidad candelaria, en donde podrás cumplir el derecho de veedor social enfocados en el sector de obras públicas, obtendrás información acerca de los proyectos de obras publicas que se desarrollan actualmente, asi mismo podras pedir información o reportar una necesidad a través de las redes sociales de los entes respectivos del estado.</p>
				
				</article>
		</div>
		
	</div>
   </div>

   <div class="section">
		

		<div class="row">
				<div class="col s12 l6">
						<article class="article_map">
							
						</article>
				</div>

				<div class="btnLogin col s12 l6 m12">

				<% if user_signed_in? %>
				<h2>Reporta o publica !</h2>
        		<p>Reporta para solicitar informacion o, publica una nueva idea para construir localidad en pro de mejora !!! Sé un veedor ciudadano</p>
        <% else %>
                	<div class="col s12">Inicia sesión !</div>
					<div class="botonesLogin">
					<%= link_to "Iniciar sesión",new_user_session_path, class: 'waves-effect waves-light btn'%>
					<%= link_to "Registrarse", new_user_registration_path, class: 'waves-effect waves-light btn'%>
					<!--<a class="waves-effect waves-light btn"><i class="material-icons right">assignment_ind</i>Iniciar sesión</a>
					<a class="waves-effect waves-light btn"><i class="material-icons right">assignment</i>registrate</a>-->
					</div>
        <% end %>
				
				</div>
				
		</div>
	</div>

	




