/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

 @import "materialize";
 @import "materialize/extras/nouislider";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

 body{
    background-image: url(background2.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
  

  main {
    flex: 1 0 auto;
  }

  #contentMain{
    margin-top: 47px;
    margin-bottom: 74px;
  }

  #customColor{    
    background-color: #000000;    
    
  }

  a:hover{
	background-color: #4fc3f79e;
    color: #fff;
    border: 1px solid #81D4FA;
}
.right a:hover{
	background-color: #4fc3f79e;
    color: #fff;
    border: 1px solid #81D4FA;
}
 

.containerForm{
  background: white;
  opacity: 0.9;
  width: 64%;
  margin:auto;
}

.textsize{
  font-size: 20px;
}

.flotarDerecha{
  float: right;
  margin-right: 20px;
} 

.altoDivRegistrate{
  height: 419px;

}
